name: publish

on:
    push:
        tags:
            - "v*.*.*"
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build:
        name: Build
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
                include:
                    - os: ubuntu-latest
                      goos: linux
                      asset_name: redka_linux_amd64.zip
                    - os: macos-latest
                      goos: darwin
                      asset_name: redka_darwin_arm64.zip
                    - os: macos-13
                      goos: darwin
                      asset_name: redka_darwin_amd64.zip
        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: "go.mod"

            - name: Build binary
              run: GOOS=${{ matrix.goos }} make build

            - name: Zip the binary
              run: zip -j ${{ matrix.asset_name }} build/redka

            - name: Pack production binary
              uses: actions/upload-artifact@v4
              with:
                  name: ${{ matrix.asset_name }}
                  path: ${{ matrix.asset_name }}

    checksum:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Download all artifacts
              uses: actions/download-artifact@v4
              with:
                  path: artifacts/
                  merge-multiple: true

            - name: Generate checksums
              run: |
                  cd artifacts
                  sha256sum * > checksums.txt

            - name: Upload checksums file
              uses: actions/upload-artifact@v4
              with:
                  name: checksums
                  path: artifacts/checksums.txt

    release:
        needs: checksum
        runs-on: ubuntu-latest
        steps:
            - name: Download artifacts
              uses: actions/download-artifact@v4
              with:
                  path: release/
                  merge-multiple: true

            - name: Upload assets to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: release/*
                  file_glob: true
                  tag: ${{ github.ref }}
                  draft: true
